<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <h1 class="text-center">Error Log</h1>

      <div class="error-cards row">

        <div class="col-md-4 card-template">
          <div class="error-card">
            <h4>Error message: something went wrong acd</h4>
            <p>Stack Trace: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus eius laboriosam voluptas ut, mollitia incidunt, aliquam, consectetur laborum dolore asperiores qui alias? Eos, autem dolore alias. Saepe, possimus dicta repellat!</p>
            <div class="error-details">
              <h4><a href="">file.js</a></h4>
              <p>21:11</p>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    <script src="https://js.pusher.com/4.0/pusher.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
